<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/challenge-31.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="icon" href="img/iconeChallenge-31.png"/>
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  <title>Challenge 31</title>
</head>
<body>
  <div class="container interface col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <input type="text" class="form-control text-center" data-js="company" id="company" value="" readonly>
        <br>
        <input type="text" class="form-control text-center" data-js="phone" id="phone" value="" readonly>
      </div>
    </div>
    <div class="row">
      <div class="formulario" >
        <h2>Insira os dados a serem cadastrados logo abaixo</h2>
          <form class="form-group" action="/cadastrar" method="POST">
            <div class="form-group col-md-6 col-md-offset-3">
              <label>Informe o fabricante:</label>
              <input class="form-control text-center entrada" data-js="maker" name="maker">
              <br>
              <label>Informe o modelo:</label>
              <input class="form-control text-center entrada" data-js="model" name="model">
              <br>
              <label>Informe o motor:</label>
              <input class="form-control text-center entrada" data-js="engine" name="engine">
              <br>
              <label>Informe o ano:</label>
              <input class="form-control text-center entrada" data-js="year" name="year">
              <br>
              <label>Carregar uma imagem:</label>
              <input class="form-control text-center" data-js="imgUrl" name="imgUrl" placeholder="OPCIONAL">
              <br>
              <input type="submit" class="btn btn-primary" data-js="button" value="CADASTRAR">
            </div>
          </form>
        </div>
    </div>
    <% if(cars){ %> <!-- if para verificar o objeto de resposta do servidor -->
      <div class="tabela">
        <div class="row">
          <div class="col-md-12">
            <h2>CARROS CADASTRADOS</h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Marca</th>
                  <th scope="col">Modelo</th>
                  <th scope="col">Motor</th>
                  <th scope="col">Ano</th>
                  <th scope="col">Imagem</th>
                  <th scope="col">Remover</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i = 0; i < cars.length; i++){ %>
                  <tr>
                    <td><%=cars[i].maker%></td>
                    <td><%=cars[i].model%></td>
                    <td><%=cars[i].engine%></td>
                    <td><%=cars[i].year%></td>
                    <%if(!cars[i].imgUrl) { %>
                      <td><img class="img" src="img/standard.jpg"></td>
                    <% } %>
                    <% if(cars[i].imgUrl){ %>
                      <td><a href="<%=cars[i].imgUrl%>" target="_blank"><img class="img" src="<%=cars[i].imgUrl%>"></a></td>
                    <% } %>
                    <td><form action="remover" method="POST"><input class="btn btn-sm btn-danger" type="hidden" name="carID" value="<%=cars[i].carID%>" readonly>
                    <input class="btn btn-sm btn-danger" type="submit" value="REMOVER" readonly></form></td>
                <% } %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <script src="lib/DOM.js"></script>
  <script src="javascript/challenge-31.js"></script>
</body>
</html>
